global:
  namespace: "gitea"

gitea:
  config:
    APP_NAME: "Hello Gitea, kkumtree!"
    server:
      PROTOCOL: http
      DOMAIN: kkumtree-ms-7a34.panda-ule.ts.net
      ROOT_URL: https://kkumtree-ms-7a34.panda-ule.ts.net/_gitea/
      CERT_FILE: /certs/tls.crt
      KEY_FILE: /certs/tls.key

postgresql-ha:
  enabled: false
postgresql:
  enabled: true

valkey-cluster:
  enabled: false
valkey:
  enabled: true

service:
  http:
    type: ClusterIP
    port: 443
    targetPort: 3000

ingress:
  enabled: true
  # className: nginx  # DEPRECATED
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: kkumtree-ms-7a34.panda-ule.ts.net
      paths: 
        - path: /_gitea(/|$)(.*)
          pathType: ImplementationSpecific
        - path: /v2(/|$)(.*)
          pathType: ImplementationSpecific
#    - host: kind-mgmt-k8s.panda-ule.ts.net
#      paths: 
#        - path: /_gitea(/|$)(.*)
#          pathType: ImplementationSpecific
#        - path: /v2(/|$)(.*)
#          pathType: ImplementationSpecific
  tls:
    - secretName: gitea-selfsigned-tls
      hosts:
        - kkumtree-ms-7a34.panda-ule.ts.net

extraVolumes:
- name: gitea-tls
  secret:
    secretName: argocd-server-tls
extraVolumeMounts:
- name: gitea-tls
  readOnly: true
  mountPath: /certs

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

nodeSelector:
  node-role.kubernetes.io/control-plane: ""
